html, body{
    margin: 0;
    background-color: rgb(167, 227, 227);
    height: 100%;
  
}
h1{
    margin-top: 100px;
}

.form{
    display: flex;
    justify-content: center;
}
.mobScreen{
    background-color: rgb(51, 102, 102);
    width:30%;
    border-radius: 5px;
    height: 90vh;
    text-align: center;
    margin: 10px auto;

}
.buttons{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;

}
button{
    border: none;
    box-shadow: none;
    align-items: flex-end;
    background-color: aliceblue;
    margin:10px;
    padding: 5px;
    width: 10%;
    height: 50px;
    border-radius: 50%;
}